body {
    background-color: azure;
    margin: 0;
    padding: 0;
}
.header_top {
    height: 30px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #F4A82C;
}
.header_bottom {
    height: 50px;
    margin-top: 0px;
    background-color: #6CD8B8;
    margin-bottom: 50px;
    position: fixed;
    top: 30px;
    left: 0;
    width: 100vw;
    margin-bottom: 80px;
}
.media_top {
    margin: auto;
    background-color: #3376BC;
    height: 200px;
    width: 80vw;
    margin-bottom: 10px;
}
.media_bottom {
    margin: auto;
    margin-top: 10px;
    background-color: #6CD8B8;
    height: 300px;
    width: 85vw;
    margin-bottom: 10px;
}
.flank {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    height: 140px;
    grid-template-areas: 
    "box box box";
    margin: auto;
    padding: 10px;
    background-color: #F4A82C;
    width: 80vw;
    margin-bottom: 50px;
}
.flank_capsule {
    height: 100px;
    width: 150px;
    margin: auto;
    padding: 10px;
    grid-area: "box";
    background-color: #0C2333;
}
.favor {
    margin: auto;
    margin-top: 10px;
    background-color: #3376BC; 
    height: 300px;
    width: 85vw;
    margin-bottom: 10px;
}
.ghost_boo {
    height: 100px;
    width: 90vw;
    margin: auto;
    padding: 10px;
    background-color: #6CD8B8;
    margin-bottom: px;
}
.ghost_white {
    height: 100px;
    width: 85vw;
    margin: auto;
    padding: 10px;
    background-color: #F4A82C;
    margin-bottom: 10px;
}
.block {
    margin-top: 50px;
    margin: auto;
    margin-top: 10px;
    background-color: #3376BC; 
    height: 300px;
    width: 85vw;
    margin-bottom: 50px;
}
.barrel_green {
    height: 100px;
    width: 90vw;
    margin: auto;
    padding: 10px;
    background-color: #6CD8B8;
    margin-bottom: 10px;=
}
.barrel_solid {
    height: 150px;
    width: 90vw;
    margin: auto;
    padding: 10px;
    background-color: #F4A82C;
    margin-bottom: 70px;
}
.mine {
    height: 100px;
    width: 85vw;
    margin: auto;
    padding: 10px;
    background-color: #C62B72;
    margin-bottom: 100px;
}
.engine_blast {
    margin-top: 50px;
    margin: auto;
    margin-top: 10px;
    background-color: #3376BC; 
    height: 300px;
    width: 85vw;
    margin-bottom: 10px;
}
.engine_piston {
    margin-top: 50px;
    margin: auto;
    margin-top: 10px;
    background-color: #C62B72; 
    height: 30px;
    width: 85vw;
    margin-bottom: 50px;
}
.cake {
    margin-top: 50px;
    margin: auto;
    margin-top: 10px;
    background-color: #6CD8B8; 
    height: 200px;
    width: 80vw;
    margin-bottom: 100px;
}
.egg {
    margin-top: 50px;
    margin: auto;
    margin-top: 10px;
    background-color: #3376BC; 
    height: 400px;
    width: 85vw;
    margin-bottom: 50px;
}
.milk {
    margin-top: 50px;
    margin: auto;
    margin-top: 10px;
    background-color: #C62B72; 
    height: 100px;
    width: 85vw;
    margin-bottom: 50px;
}
.blare {
    margin-top: 50px;
    margin: auto;
    margin-top: 10px;
    background-color: #F4A82C; 
    height: 30px;
    width: 90vw;
    margin-bottom: 50px;
}
.blare {
    margin-top: 50px;
    margin: auto;
    margin-top: 10px;
    background-color: #0C2333; 
    height: 70px;
    width: 90vw;
    margin-bottom: 50px;
}
.footer_pot {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    height: 200px;
    grid-template-areas: 
    "fun fun lake";
    margin: auto;
    padding: 10px;
    background-color: #F4A82C;
    width: 100vw;
    margin-bottom: 0px;
}
.fun {
    height: 100px;
    width: 150px;
    margin: auto;
    padding: 10px;
    grid-area: "fun";
    background-color: #0C2333;
}
.lake {
    height: 200px;
    width: 150px;
    margin: auto;
    padding: 10px;
    grid-area: "lake";
    background-color: #C62B72;
}