body {
    background-color: azure;
    margin: 0;
    padding: 0;
}
.header_top {
    height: 30px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #C62B72;
}
.header_bottom {
    height: 50px;
    margin-top: 0px;
    background-color: #0C2333;
    margin-bottom: 50px;
    position: fixed;
    top: 30px;
    left: 0;
    width: 100vw;
    margin-bottom: 80px;
}
.backdrop {
    margin: auto;
    margin-top: 100px;
    background-color: #6CD8B8;
    height: 500px;
    width: 100vw;
    margin-bottom: 10px;
}
.cluster {
    margin: auto;
    margin-top: 100px;
    background-color: #6CD8B8;
    height: 500px;
    width: 100vw;
    margin-bottom: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid; 
    grid-gap: 10px;
}
.galaxy {
    margin: auto;
    margin-top: 200px;
    background-color: #3376BC;
    height: 30px;
    width: 150px;
    margin-bottom: 10px;
}
.backdrop_text {
    margin: auto;
    margin-top: 40px;
    background-color: #F4A82C;
    height: 50px;
    width: 150px;
    margin-bottom: 10px;
}
.backdrop_title {
    margin: auto;
    margin-top: 40px;
    background-color: #3376BC;
    height: 150px;
    width: 250px;
    margin-bottom: 10px;
    position: relative;
    left: 50px;
}
.nebula {
    margin: auto;
    margin-top: 100px;
    height: 400px;
    width: 100vw;
    margin-bottom: 10px;
    grid-template-columns: 1fr 1fr;
    display: grid; 
    grid-gap: 10px;
}
.void {
    margin: auto;
    margin-top: 40px;
    background-color: #6CD8B8;
    height: 250px;
    width: 400px;
    margin-bottom: 10px;
}
.stars {
    margin: auto;
    margin-top: 40px;
    height: 250px;
    width: 400px;
    margin-bottom: 10px;
    grid-template-columns: 1fr 1fr;
    display: grid; 
    grid-gap: 10px;
}
.star {
    margin: auto;
    margin-top: 80px;
    background-color: #6CD8B8;
    height: 100px;
    width: 180px;
    margin-bottom: 10px;
}
.planet {
    margin: auto;
    margin-top: 120px;
    background-color: #F4A82C;
    height: 30px;
    width: 180px;
    margin-bottom: 10px;
}
.belt {
    margin: auto;
    margin-top: 10px;
    height: 400px;
    width: 100vw;
    margin-bottom: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid; 
    grid-gap: 10px;
}
.asteroid {
    margin: auto;
    margin-top: 40px;
    background-color: #6CD8B8;
    height: 180px;
    width: 240px;
    margin-bottom: 10px;
}
.ice {
    margin: auto;
    margin-top: 200px;
    background-color: #3376BC;
    height: 70px;
    width: 200px;
    margin-bottom: 10px;
}
.mars {
    margin: auto;
    margin-top: 100px;
    height: 400px;
    width: 100vw;
    margin-bottom: 300px;
    display: grid; 
    grid-gap: 10px;
    grid-template-areas: 
    "rede alien"
    "alien rede";
    grid-template-columns: 
    1fr 1fr;
}
.rede {
    margin: auto;
    margin-top: 100px;
    background-color: #F4A82C;
    height: 30px;
    width: 400px;
    margin-bottom: 10px;
    grid-area: "rede";
}
.alien {
    margin: auto;
    margin-top: 20px;
    background-color: #6CD8B8;
    height: 280px;
    width: 340px;
    margin-bottom: 10px;
}
.turtle {
    margin: auto;
    width: 100vw;
    margin-bottom: 0px;
    display: grid; 
    grid-gap: 10px;
    grid-template-columns: 
    1fr 1fr;
}
.shell {
    margin: auto;
    background-color: #6CD8B8;
    height: 100px;
    width: 350px;
    margin-bottom: 50px;
}
.scale {
    margin: auto;
    background-color: #3376BC;
    height: 30px;
    width: 190px;
    margin-bottom: 100px;
    right: 80px;
    bottom: 40px;
    position: relative;
}
.mongoose {
    margin: auto;
    margin-top: 10px;
    height: 400px;
    width: 90vw;
    margin-bottom: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid; 
    grid-gap: 10px;
}
.lame {
    margin: auto;
    margin-top: 40px;
    background-color: #6CD8B8;
    height: 180px;
    width: 240px;
    margin-bottom: 10px;
}
.mouth {
    margin: auto;
    margin-top: 200px;
    background-color: #3376BC;
    height: 30px;
    width: 200px;
    margin-bottom: 10px;
}
.boss {
    margin: auto;
    margin-top: 10px;
    height: 400px;
    width: 90vw;
    margin-bottom: 10px;
    grid-template-columns: 1fr 1fr;
    display: grid; 
    grid-gap: 10px;
}
.peace {
    margin: auto;
    margin-top: 20px;
    background-color: #3376BC;
    height: 70px;
    width: 30vw;
    margin-bottom: 10px;
}
.pea {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid; 
    grid-gap: 10px;
}
.carrot {
    margin: auto;
    margin-top: 0px;
    background-color: #6CD8B8;
    height: 180px;
    width: 15vw;
    margin-bottom: 10px;
}
.onion {
    margin: auto;
    margin-top: 200px;
    background-color: #C62B72;
    height: 80px;
    width: 15vw;
    margin-bottom: 10px;
}
.call {
    margin: auto;
    margin-top: 20px;
    background-color: #3376BC;
    height: 30px;
    width: 60vw;
    margin-bottom: 10px;
}



.guest {
    margin: auto;
    margin-top: 10px;
    width: 90vw;
    margin-bottom: 10px;
    grid-template-columns: 1fr 1fr;
    display: grid; 
    grid-gap: 10px;
    margin-top: 100px;
}
.arp {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid; 
    grid-gap: 10px;
}
.peg {
    margin: auto;
    margin-top: 0px;
    margin-bottom: 10px;
    background-color: #6CD8B8;
    height: 80px;
    width: 15vw;
}
.io {
    margin: auto;
    margin-top: 0px;
    background-color: #6CD8B8;
    height: 80px;
    width: 15vw;
    margin-bottom: 10px;
}


